<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="/" class="btn">Welcome</a>
  <a href="/accepted" class="btn">Accepted Papers</a>
  <a href="/cfp" class="btn">Call for Papers</a>
  <a href="/author" class="btn">Author Guidelines</a>
  <a href="/mentoring" class="btn">Mentoring</a>
  <a href="/travel_grant" class="btn">Travel and Grants</a>
  <a href="/organization" class="btn">Organization</a>
  <a href="/faq" class="btn">FAQs</a>
  <a href="/sponsors" class="btn">Sponsors</a>
</section>